USE [master]
GO
/****** Object:  Database [CatShop]    Script Date: 13/1/2569 15:45:11 ******/
CREATE DATABASE [CatShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CatShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CatShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CatShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CatShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CatShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CatShop]
GO
/****** Object:  User [user1]    Script Date: 13/1/2569 15:45:12 ******/
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user1]
GO
/****** Object:  Table [dbo].[Catagories]    Script Date: 13/1/2569 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catagories](
	[CatagoriesID] [int] NOT NULL,
	[CatagoriesName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catagories] PRIMARY KEY CLUSTERED 
(
	[CatagoriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 13/1/2569 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FName] [nvarchar](50) NULL,
	[LName] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[AddressFRecept] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 13/1/2569 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FName] [nvarchar](50) NULL,
	[LName] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 13/1/2569 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/1/2569 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CatagoriesName] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[PriceSale] [money] NULL,
	[PriceOriginal] [money] NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 13/1/2569 15:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[Quantity] [money] NULL,
	[PriceTotal] [money] NULL,
	[DOS] [datetime] NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerAddressFRecept] [nvarchar](max) NULL,
	[PaymentName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Catagories] ([CatagoriesID], [CatagoriesName]) VALUES (1, N'FoodKitten')
INSERT [dbo].[Catagories] ([CatagoriesID], [CatagoriesName]) VALUES (2, N'Toy')
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Username], [Password], [FName], [LName], [Gender], [DOB], [Address], [AddressFRecept], [Email], [Phone], [Status], [Position]) VALUES (1003, N'Cherprang', N'0988260170', N'เฌอปราง', N'อารีย์กุล', N'หญิง', CAST(N'1996-05-02T01:04:05.000' AS DateTime), N'2489 อำเภอหาดใหญ่ จังหวัดสงขลา 90110', N'2489 อำเภอหาดใหญ่ จังหวัดสงขลา', N'Cherprang@email.com', N'0988260170', N'Unlock', N'Customer')
INSERT [dbo].[Customer] ([CustomerID], [Username], [Password], [FName], [LName], [Gender], [DOB], [Address], [AddressFRecept], [Email], [Phone], [Status], [Position]) VALUES (1004, N'plam12310', N'qqyykk12310', N'ปิยะณัฐ', N'มีศรี', N'หญิง', CAST(N'2004-07-24T01:10:49.000' AS DateTime), N'64/378 นครทองหมู่ 1 ตำบลราชาเทวะ อำเภอบางพลี จังหวัดสมุทรปราการ 10540', N'64/378 นครทองหมู่ 1 ตำบลราชาเทวะ อำเภอบางพลี จังหวัดสมุทรปราการ 10540', N'piyanatmeesri@email.com', N'0653803875', N'Unlock', N'Customer')
INSERT [dbo].[Customer] ([CustomerID], [Username], [Password], [FName], [LName], [Gender], [DOB], [Address], [AddressFRecept], [Email], [Phone], [Status], [Position]) VALUES (1005, N'arm12310', N'arm35318', N'อริยะวัตร', N'มีศรี', N'ชาย', CAST(N'2000-10-02T02:16:53.000' AS DateTime), N'64/378 นครทอง หมู่1 ตำบลราชาเทวะ อำเภอบางพลี จังหวัดสมุทรปราการ 10540', N'64/378 นครทอง หมู่1 ตำบลราชาเทวะ อำเภอบางพลี จังหวัดสมุทรปราการ 10540', N'arm10424@email.com', N'0981546548', N'Unlock', N'Customer')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [Username], [Password], [FName], [LName], [Gender], [DOB], [Address], [Email], [Phone], [Position]) VALUES (1, N'user1', N'mypass1', N'Piyanat', N'Meesri', N'หญิง', CAST(N'2004-03-25T00:00:00.000' AS DateTime), N'Thailand', N'piyanat@gmail.com', N'0988260170', N'Employee')
INSERT [dbo].[Employee] ([EmployeeID], [Username], [Password], [FName], [LName], [Gender], [DOB], [Address], [Email], [Phone], [Position]) VALUES (1011, N'emp001', N'emp001', N'ซิกก้า', N'เซน', N'ชาย', CAST(N'2005-04-07T01:03:58.000' AS DateTime), N'เลขที่ 99 ซอยกานต์ประภา ถนนประชาชื่น แขวงบางซื่อ เขตบางซื่อ กรุงเทพมหานคร 10800', N'Sikka@email.com', N'0657849535', N'Employee')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (1, N'Carsh')
INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (2, N'Credit')
INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (3, N'Bank Transfer')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleID], [ProductName], [Quantity], [PriceTotal], [DOS], [CustomerName], [CustomerAddressFRecept], [PaymentName]) VALUES (1, N'Kaniva', 1.0000, 280.0000, CAST(N'2025-03-31T23:27:13.450' AS DateTime), N'SK SK', N'Thai', N'Credit')
INSERT [dbo].[Sale] ([SaleID], [ProductName], [Quantity], [PriceTotal], [DOS], [CustomerName], [CustomerAddressFRecept], [PaymentName]) VALUES (2, N'Kaniva', 1.0000, 280.0000, CAST(N'2025-03-31T23:29:23.603' AS DateTime), N'SK SK', N'Thai', N'Credit')
INSERT [dbo].[Sale] ([SaleID], [ProductName], [Quantity], [PriceTotal], [DOS], [CustomerName], [CustomerAddressFRecept], [PaymentName]) VALUES (3, N'Kaniva', 1.0000, 280.0000, CAST(N'2025-03-31T23:31:06.723' AS DateTime), N'SK SK', N'Thai', N'Credit')
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
USE [master]
GO
